body {
  background-color: #030712;
}

* {
  color: white;
}

.tag {
  background: rgba(255, 255, 255, 0.035);
  border-radius: 24px;
}

.link {
  position: relative;
  color: white;
  transition: all .3s;
  width: max-content;
}

.link::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust spacing below the text */
  left: 0;
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: #1e3a8a; /* Color of the underline */
  transition: all .3s;
}

.link:hover {
  color: #1e3a8a;
}
.link:hover::after {
  width: 100%; /* Expands underline across the text */
}

.btn {
  background-color: white;
  color: black;
  padding: 7px 20px;
  border-radius: 999px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #d1d5db;
}

.bg-header {
  background: rgb(3, 7, 18);
  background: linear-gradient(
    350deg,
    rgba(3, 7, 18, 1) 20%,
    rgba(6, 6, 79, 0.3) 50%,
    rgba(3, 7, 18, 1) 80%
  );
}

/* Customize the label (the container) */
.container {
  cursor: pointer;
  width: max-content;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 7px;
  background-color: #1e293b;
  transition: all 0.3s;
}

/* On mouse-over, add a grey background color */
.checkmark:hover {
  background-color: #334155;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #1e3a8a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  transition: all 0.3;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 6px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}